* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "TrueThammasat";
  src: url("./items/font/True_Text/TrueText/TtxtBB.ttf") format("truetype");
}

body {
  background-color: rgb(255, 255, 255);
  background-image: url("./items/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  @media screen and (max-width: 450px) {
    height: auto;
    background-attachment: fixed;
  }
}

body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar:horizontal {
  height: 0em;
}
